<robot name="onshape">
  <link name="base_link"></link>
  <joint name="base_link_to_base" type="fixed">
    <parent link="base_link" />
    <child link="part_1" />
    <origin rpy="0.0 0 0" xyz="0 0 0" />
  </joint>
  <link name="part_1">
    <!-- Shapes for part_4 -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="part_1_visual.obj" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <geometry>
        <mesh filename="part_1_collision.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
</robot>